<div id="sections" class="box">
  <h2 class="title"><%= t("common.index_node_navigation")%></h2>
  <ul>
    <li>
      <label>Ruby</label>
      <span class="nodes">
      </span>
    </li>
  </ul>
</div>  