<!-- html_safe raw sanitize -->
<%= raw SiteConfig.index_html %>

<div class="home_suggest_topics box box-gray">
  <h2>社区精华帖</h2>
  <div class="topics">
  </div>
  <div class="more">
    <%= link_to "查看更多精华帖...", root_path %>
  </div>
</div>